---
layout: default
title : Services
navbar_title: Services
---

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-handshake"></i> Professional Services</h6>
    <div class="px-3 pb-1">
        {% for item in site.data.services.academic_services %}
        <div class="my-2 d-flex align-items-center flex-wrap">
            <div class="pr-2">
                <span class="badge badge-pill badge-venue{% if item.rank %} badge-rank-{{ item.rank | downcase }}{% endif %} mr-2 align-middle">{{ item.code }}</span><span class="align-middle">{{ item.title }}{% if item.role %} <span class="text-muted">·</span> {{ item.role }}{% endif %}</span>
            </div>
            <div class="ml-auto mt-1 mt-sm-0 text-muted no-break"><i>{{ item.date }}</i></div>
        </div>
        {% endfor %}
    </div>
</div>
