/* the following root section is for parameters */

:root {
    --initPosX: -215%;
    --dx: 35%;
    --initPosY: 45%;
    --secdPosY: 70%;
}


/* These are for the buttons */

#cardsBack {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: auto 20px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-family: 'Rowdies';
    font-weight: bold;
    font-size: x-large;
}

#cardsBack:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#cardsBack:nth-child(1) {
    filter: hue-rotate(270deg);
}

#cardsBack:nth-child(2) {
    filter: hue-rotate(110deg);
}

.wrpr {
    position: absolute;
    top: -2%;
    left: 41%;
    width: 250px;
    height: 400px;
    perspective: 900px;
}

.ctnr {
    position: absolute;
    top: 10%;
    width: 30%;
    height: 30%;
    transition: 0.5s all ease;
    transform: rotateX(30deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #555;
    animation: entry 1s linear 1;
}

#c1 {
    position: absolute;
    left: var(--initPosX);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/PowerOverload.png);
}

#c2 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx));
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/OnStandby.png);
}

#c3 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 2);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/ColdWave.png);
}

#c4 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 3);
    top: var(--initPosY);
    background-size: cover;
}

#c5 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 4);
    top: var(--initPosY);
    background-size: cover;
}

#c6 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 5);
    top: var(--initPosY);
    background-size: cover;
}

#c7 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 6);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/MegaCut.png);
}

#c8 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 7);
    top: var(--initPosY);
    background-size: cover;
}

#c9 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 8);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/OrganClone.png);
}

#c10 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 9);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/HumanClone.png);
}

#c11 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 10);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/MegaClone.png);
}

#c12 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 11);
    top: var(--initPosY);
    background-size: cover;
}

#c13 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 12);
    top: var(--initPosY);
    background-size: cover;
}

#c14 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 13);
    top: var(--initPosY);
    background-size: cover;
}

#c15 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 14);
    top: var(--initPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/DefensiveLine.png);
}

#c16 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 0);
    top: var(--secdPosY);
    background-size: cover;
}

#c17 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 1);
    top: var(--secdPosY);
    background-size: cover;
}

#c18 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 2);
    top: var(--secdPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/EnhancedHealing.png);
}

#c19 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 3);
    top: var(--secdPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/CellBroadcast.png);
}

#c20 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 4);
    top: var(--secdPosY);
    background-size: cover;
}

#c21 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 5);
    top: var(--secdPosY);
    background-size: cover;
}

#c22 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 6);
    top: var(--secdPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/WarmWave.png);
}

#c23 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 7);
    top: var(--secdPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/GoingViral.png);
}

#c24 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 8);
    top: var(--secdPosY);
    background-size: cover;
}

#c25 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 9);
    top: var(--secdPosY);
    background-size: cover;
}

#c26 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 10);
    top: var(--secdPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/compulsoryMedicalRecruitment.png);
}

#c27 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 11);
    top: var(--secdPosY);
    background-size: cover;
}

#c28 {
    position: absolute;
    left: calc(var(--initPosX) + var(--dx) * 12);
    top: var(--secdPosY);
    background-size: cover;
    background-image: url(../assets/cardPNG/MedicalMobilization.png);
}

.ctnr:hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transform: rotate(0deg) scale(1) translateY(20px);
    transition: 0.5s all ease;
    z-index: 99999999999;
    margin-top: -1cm;
    margin-left: -1cm;
}

.ctnr::after {
    content: attr(data-info);
    /* display: inline; */
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    width: 87%;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Rowdies';
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: #000;
    color: #fff;
    pointer-events: none;
    /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
}

.ctnr:hover::after {
    opacity: 0.8;
}

.story {
    position: absolute;
    top: 45%;
    left: 0%;
    height: 55%;
    width: 100%;
    /* background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%); */
    z-index: 30;
}

.info {
    position: absolute;
    top: 10%;
}

h3 {
    text-align: center;
    text-shadow: 0px 0px 10px #eee;
    color: #000;
    letter-spacing: 2px;
}

h4 {
    color: #111;
    position: absolute;
    top: 30%;
    left: 30%;
    letter-spacing: 2px;
}

h1 {
    color: whitesmoke;
    position: fixed;
    top: 7%;
    text-align: center;
    margin: 20px 100px;
    font-family: 'Rowdies';
    font-size: xx-large;
}

p {
    font-size: 14px;
    color: #fff;
    padding: 0px 20px 20px 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
}

#cardsTitle {
    top: 0%;
    margin: 0px;
    font-size: 100px;
    float: right;
}

#cardsBack {
    position: fixed;
    top: 150%;
    left: 25%;
}

.image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}


/* the following is the pictures' attributes */

.pic {
    width: 100%;
}