@font-face {
    font-family: 'Rowdies';
    src: url('../assets/font/Rowdies-Light.ttf');
}

@font-face {
    font-family: 'Bree Serif';
    src: url("../assets/font/BreeSerif-Regular.ttf");
}