:root {
    --x1: 285px;
    --y1: 50px;
    --deltaY: 136px;
    --DeltaY: 68px;
    --deltaX: 115px;
}

#tut1 {
    position: absolute;
    left: var(--x1);
    top: var(--y1);
}

#tut2 {
    position: absolute;
    left: var(--x1);
    top: calc(var(--y1) + var(--deltaY));
}

#city1 {
    position: absolute;
    left: calc(var(--x1) + var(--deltaX));
    top: calc(var(--y1) + var(--DeltaY));
}

#city2 {
    position: absolute;
    left: calc(var(--x1) + var(--deltaX));
    top: calc(var(--y1) + var(--DeltaY) + var(--deltaY));
}

#city3 {
    position: absolute;
    left: calc(var(--x1) + 2 * var(--deltaX));
    top: calc(var(--y1) + 2 * var(--DeltaY));
}

#endless {
    position: absolute;
    left: calc(var(--x1) + var(--deltaX));
    top: calc(var(--y1) + var(--DeltaY) + 2 * var(--deltaY));
}

#gallery {
    position: absolute;
    left: calc(var(--x1) + 2 * var(--deltaX));
    top: calc(var(--y1) + 2 * var(--DeltaY) + var(--deltaY));
}

#About {
    color: #bdb4d5;
    font-family: Rowdies;
    font-size: 18px;
    text-align: center;
    z-index: 999;
    /* positions */
    position: relative;
    display: block;
    margin: -150px auto 0px auto;
}